In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "2017_jun_final.csv"
data = pd.read_csv(file_path, sep=',', encoding='utf-8')

In [3]:
("Перші рядки таблиці:")
(data.head())

,N,Посада,Мова програмування,Спеціалізація,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,...,Ще студент,Рівень англійської,Предметна область,Дата заповнення,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харків,до 10 осіб,...,True,Pre-intermediate (нище середнього),"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,менше 3 місяців,менше 3 місяців,430,130,Харків,більше 1000 осіб,...,True,Upper-Intermediate (вище середнього),Веб-розробка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Київ,до 1000 осіб,...,False,Intermediate (середній),"Веб-розробка,Корпоративні системи",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одеса,до 200 осіб,...,False,Pre-intermediate (нище середнього),"Desktop Applications,Веб-розробка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 і більше років,0.5,4500,500,Інше,до 10 осіб,...,False,Intermediate (середній),"Desktop Applications,Веб-розробка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [4]:
("Розмір таблиці (рядки, стовпці):", data.shape)

('Розмір таблиці (рядки, стовпці):', (8704, 25))

In [5]:
("Типи даних у стовпцях:")
(data.dtypes)

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [6]:
missing_share = data.isnull().sum() / len(data)
("Частка пропусків у кожній колонці:")
(missing_share)

N                                   0.000000
Посада                              0.000000
Мова програмування                  0.442325
Спеціалізація                       0.829389
Загальний досвід роботи             0.000000
Досвід роботи на поточному місці    0.000000
Зарплата на місяць                  0.000000
Зміна зарплати за 12 місяців        0.000000
Місто                               0.000000
Розмір компанії                     0.000000
Тип компанії                        0.000000
Стать                               0.000000
Вік                                 0.000000
Освіта                              0.000000
Університет                         0.041131
Ще студент                          0.000000
Рівень англійської                  0.000000
Предметна область                   0.025620
Дата заповнення                     0.000000
User.Agent                          0.000000
exp                                 0.000000
current_job_exp                     0.000000
salary                              0.000000
Валюта                              0.998851
cls                                 0.180836
dtype: float64

In [7]:
columns_to_keep = ["Мова програмування"]
data_cleaned = data[columns_to_keep].copy()

In [8]:
("Частка пропусків у залишеній колонці:")
(data_cleaned.isnull().sum() / len(data_cleaned))

Мова програмування    0.442325
dtype: float64

In [9]:
data_cleaned.dropna(inplace=True)

In [10]:
("Розмір очищеної таблиці (рядки, стовпці):", data_cleaned.shape)

('Розмір очищеної таблиці (рядки, стовпці):', (4854, 1))

In [11]:
python_data = data_cleaned[data_cleaned["Мова програмування"].str.contains("Python", na=False)]
("Розмір таблиці з Python:", python_data.shape)

('Розмір таблиці з Python:', (207, 1))

In [18]:
grouped = data.groupby("Посада")

In [17]:
salary_stats = grouped["Зарплата.в.місяць"].agg(["min", "max"])
("Статистика по зарплатах за Посадами:")
(salary_stats)

KeyError: 'Column not found: Зарплата.в.місяць'

In [14]:
def fill_avg_salary(row):
    return (row["min"] + row["max"]) / 2

salary_stats["avg"] = salary_stats.apply(fill_avg_salary, axis=1)

NameError: name 'salary_stats' is not defined

In [15]:
("Описова статистика для середньої зарплати:")
(salary_stats["avg"].describe())

NameError: name 'salary_stats' is not defined

In [16]:
output_file = "python_salary_stats.csv"
salary_stats.to_csv(output_file, encoding='utf-8', index=True)
(f"Таблицю збережено у файл: {output_file}")

NameError: name 'salary_stats' is not defined